@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: roboto-regular;
	src: url('../fonts/Roboto-Regular.ttf');
}

* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	padding: 10px 20px;
	text-align: right;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 2px solid #595959;
}

.header-button {
	background-color: rgba(89,89,89,0);
	border: 2px solid rgba(89,89,89,1);
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 0.9em;
	font-family: roboto;
	color: rgba(89,89,89,1);
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.left-button {
	position: absolute;
	width: 100%;
	text-align: center;
	left: -100%;
	color: rgba(89,89,89,1);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.right-button {
	width: 100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.header-button:focus {
	outline: none;
}

.header-button:focus .left-button {
	left: 0%;
}

.header-button:focus .right-button {
	transform: translateX(150%);
}

.header-button:hover .left-button {
	left: 0%;
}

.header-button:hover .right-button {
	transform: translateX(150%);
}

.cross-button {
	color: rgba(153, 0, 0, 1);
	font-size: 2em;
	position: fixed;
	top: 20px;
	right: 30px;
	cursor: pointer;
}

.add-blog {
	text-align: center;
	padding: 30px;
	font-family: roboto;
}

.add-blog-header h1 {
	display: inline-block;
	border-bottom: 2px solid black;
	padding: 5px 20px;
}

.add-blog-form {
	display: inline-block;
	width: 50%;
	padding: 20px 0px;
}

.add-blog-form input {
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-family: roboto-regular;
	font-size: 1em;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.5);
	outline: none;
}

.add-blog-form input:focus {
	outline: none;
	border: 2px solid rgba(0,0,0,0.7);
}

.add-blog-form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-family: roboto-regular;
	font-size: 1em;
	margin: 10px;
	height: 300px;
	resize: none;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.5);
	outline: none;
}

.add-blog-form textarea:focus {
	outline: none;
	border: 2px solid rgba(0,0,0,0.7);
}

.submit-button {
	background: none;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1em;
	font-family: roboto;
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: 10px;
}

.submit-button:focus {
	border: 2px solid rgba(0,0,0,0.7);
	color: rgba(0,0,0,0.7);
	outline: none;
}

.submit-button:hover {
	border: 2px solid rgba(0,0,0,0.7);
	color: rgba(0,0,0,0.7);
}

.submit-button:focus .left-button {
	left: 0%;
}

.submit-button:focus .right-button {
	transform: translateX(150%);
}

.submit-button:hover .left-button {
	left: 0%;
}

.submit-button:hover .right-button {
	transform: translateX(150%);
}

.home-cont {
	text-align: center;
}

.home-blog-list {
	padding: 70px 10px 20px 10px;
	text-align: center;
	font-family: roboto-regular;
	width: 70%;
	display: inline-block;
}

.article-home {
	margin: 20px 0px;
	background-color: #f5f5f5;
	padding: 15px 20px;
}

.article-details {
	display: inline-block;
	color: rgba(0,0,0,0.7);
	padding: 10px 0px;
	font-size: 0.9em;
}

.article-content {
	text-align: justify;
	padding: 10px 0px 20px 0px;
}

.one-blog {
	padding: 70px 0px 20px 0px;
	text-align: center;
	font-family: roboto-regular;
}

.one-blog-cont {
	width: 70%;
	display: inline-block;
}